#modalKomen >.modal-dialog > .modal-content > .modal-body {
    background-color: lightgray!important;
}
#modalKomen >.modal-dialog > .modal-content > .modal-header{
    justify-content: center !important;
}
#modalKomen>.modal-dialog>.modal-content{
    width: 15em;
    height:25em;
    margin : 0 0;    
}
#modalKomen>.modal-dialog>.modal-content>.modal-footer>.form-inline>.btn{
    outline: none;
}
#modalKomen>.modal-dialog>{
    max-width: 15em;
}
#modalKomen>.modal-dialog>.modal-content>.modal-body>.bubbleComment{
    border-radius: 0.3em!important;
    background-color: whitesmoke!important;
    color: black!important;
    overflow: hidden;
}
#modalKomen>.modal-dialog>.modal-content>.modal-body>.bubbleComment>.headerBubble{
    margin: 0 5% !important;
}
#modalKomen>.modal-dialog>.modal-content>.modal-body>.bubbleComment>.bodyBubble{
    padding: 0 5% 0 5% !important;
    padding-bottom: 0.1%;
    background-color: white;
    height: 100%;
}
#modalKomen>.modal-dialog>.modal-content>.modal-body>.bubbleComment>.bodyBubble>small>p{
    padding-top: 0.3em;
}
.modal-backdrop>.modal-backdrop.show{
    opacity: 0;
}
.row.mt-4>.col.rounded.hvr-curl-top-right>.float-right>.list-inline.text-muted>.list-inline-item.mr-2.dropup.show>.dropdown-menu.show{
    left: -7em!important;
}
